    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
      background: #111;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
      color: orange;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 24px;
    }

    #qr-reader {
      width: 90%;
      max-width: 400px;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 16px;
    }

    .top-toast {
      position: fixed;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: white;
      padding: 12px 24px;
      border-radius: 8px;
      display: none;
      z-index: 999;
    }

    #backBtn {
      padding: 12px 24px;
      background-color: #eb9205ed;
      border: none;
      border-radius: 12px;
      font-size: 18px;
      cursor: pointer;
      color: white;
    }

    #backBtn:hover {
      background-color: #ffb53ded;
    }

    